language: generic
sudo: false

git:
  submodules: false

cache:
  directories:
    - $HOME/.stack

addons:
  apt:
    packages:
      - libgmp-dev

before_install:
- mkdir -p ~/.local/bin
- export PATH=$HOME/.local/bin:$PATH
- travis_retry curl -L https://www.stackage.org/stack/linux-x86_64 | tar xz --wildcards --strip-components=1 -C ~/.local/bin '*/stack'


install:
- stack --no-terminal --install-ghc test --only-dependencies

script:
- stack test --coverage --no-terminal
- stack install hpc-coveralls

after_script:
- mkdir dir
- mv `stack path | grep 'local-install-root:' | cut -d: -f2`/hpc dist
- hpc-coveralls TestPE TestPoly TestXor